<ion-view view-title="{{athleteCoaching.name}}">
  <ion-content class="white-profile">
    <div class="picture-hold picture-pad">
      <div class="zd">
        <div class="dp" style="background-image: url({{(athleteCoaching.athlete.profilePic | uploadpath) || 'img/img-placeholder.png'}});"></div>
        <h3>{{athleteCoaching.athlete.name}} {{athleteCoaching.athlete.surname}}</h3>
        <p>{{(athleteCoaching.athlete.age)||'-'}} years, {{athleteCoaching.athlete.country}}</p>
        <p class="badged positive-bg">{{athleteCoaching.subscriptionType}}</p>
      </div>
    </div>
    <ion-list class="stripped">
      <ion-item class="item-text-wrap">
        <h3>Accepted Since</h3>
        <p>{{(athleteCoaching.createdAt| date:"dd/MM/yyyy")||'-'}}</p>
      </ion-item>
      <ion-item class="item-text-wrap">
        <h3>Next Renewal</h3>
        <p>{{(athleteCoaching.renewalDate| date:"dd/MM/yyyy")||'-'}}</p>
      </ion-item>
      <ion-item class="item-text-wrap item-long" ng-if="athleteCoaching.athlete.sports">
        <h3>Sports</h3>
        <p class="text-justified" read-more="athleteCoaching.athlete.sports">
        </p>
      </ion-item>
      <ion-item class="item-text-wrap item-long" ng-if="athleteCoaching.athlete.about">
        <h3>About</h3>
        <p class="text-justified" read-more="athleteCoaching.athlete.about"></p>
      </ion-item>
      <ion-item class="item-text-wrap item-long" ng-if="athleteCoaching.athlete.events">
        <h3>Events</h3>
        <p class="text-justified" read-more="athleteCoaching.athlete.events"></p>
      </ion-item>
      <ion-item class="item-text-wrap item-long" ng-if="athleteCoaching.athlete.achievements">
        <h3>Achievement / Personal Bests</h3>
        <p class="text-justified" read-more="athleteCoaching.athlete.achievements"></p>
      </ion-item>
      <ion-item class="item-text-wrap item-long" ng-if="athleteCoaching.athlete.previousSeasonReview">
        <h3>Previous Season Review</h3>
        <p class="text-justified" read-more="athleteCoaching.athlete.previousSeasonReview"></p>
      </ion-item>
    </ion-list>
    <div class="padding-horizontal">
      <button ng-if="athleteCoaching.status != 'Unsubscribe'" class="button button-assertive button-block" ng-click="reason(athleteCoaching._id,athleteCoaching.coach)">Unsubscribe</button>
      <button ng-if="athleteCoaching.status == 'Unsubscribe'" class="button button-assertive button-block">Unsubscribed</button>
    </div>
  </ion-content>
</ion-view>
