<ion-view view-title="{{athleteCoaching.name}}">
  <ion-content class="white-profile">
    <div class="picture-hold picture-pad">
      <div class="zd">
        <div class="dp" style="background-image: url('{{athleteCoaching.image|localurl}}');"></div>
        <h3>{{athleteCoaching.name}} {{athleteCoaching.surname}}</h3>
        <p>{{athleteCoaching.age}} years, {{athleteCoaching.location}}</p>
        <p class="badged positive-bg">{{athleteCoaching.subscriptionType}}</p>
      </div>
    </div>
    <ion-list class="stripped">
      <ion-item class="item-text-wrap">
        <h3>Accepted Since</h3>
        <p>{{athleteCoaching.acceptedDate}}</p>
      </ion-item>
      <ion-item class="item-text-wrap">
        <h3>Next Renewal</h3>
        <p>{{athleteCoaching.renewalDate}}</p>
      </ion-item>
      <ion-item class="item-text-wrap item-long">
        <h3>Sports</h3>
        <p class="text-justified" read-more="athleteCoaching.sports" read-more-limit="140" read-more-label-expand="Read More">
        </p>
      </ion-item>
      <ion-item class="item-text-wrap item-long">
        <h3>About</h3>
        <p class="text-justified" read-more="athleteCoaching.about" read-more-limit="140" read-more-label-expand="Read More"></p>
      </ion-item>
      <ion-item class="item-text-wrap item-long">
        <h3>Events</h3>
        <p class="text-justified" read-more="athleteCoaching.events" read-more-limit="140" read-more-label-expand="Read More"></p>
      </ion-item>
      <ion-item class="item-text-wrap item-long">
        <h3>Achievement / Personal Bests</h3>
        <p class="text-justified" read-more="athleteCoaching.achievements" read-more-limit="140" read-more-label-expand="Read More"></p>
      </ion-item>
      <ion-item class="item-text-wrap item-long">
        <h3>Previous Season Review</h3>
        <p class="text-justified" read-more="athleteCoaching.previousSeasonReview" read-more-limit="140" read-more-label-expand="Read More"></p>
      </ion-item>
    </ion-list>
    <div class="padding-horizontal">
      <button class="button button-assertive button-block">Unsubscribe</button>
    </div>
  </ion-content>
</ion-view>
