<ion-view view-title="{{athleteCoaching.name}}">
  <ion-content>
    <div class="picture-hold picture-pad">
      <div class="dp" style="background-image: url('{{athleteCoaching.image}}');"></div>
      <h3>{{athleteCoaching.name}} {{athleteCoaching.surname}}</h3>
      <p>{{athleteCoaching.age}} years, {{athleteCoaching.location}}</p>
      <p class="badged stable-bg">{{athleteCoaching.subscriptionType}}</p>
    </div>
    <ion-list>
      <ion-item class="item-text-wrap">
        <h3>Accepted Since</h3>
        <p>{{athleteCoaching.acceptedDate}}</p>
      </ion-item>
      <ion-item class="item-text-wrap">
        <h3>Next Renewal</h3>
        <p>{{athleteCoaching.renewalDate}}</p>
      </ion-item>
      <ion-item class="item-text-wrap">
        <h3>Sports</h3>
        <p>
          <span class="tag-box" ng-repeat="s in athleteCoaching.sports">{{s}}</span>
        </p>
      </ion-item>
      <ion-item class="item-text-wrap">
        <h3>Events</h3>
        <p>
          <span class="tag-box" ng-repeat="e in athleteCoaching.events">{{e}}</span>
        </p>
      </ion-item>
    </ion-list>
    <div class="padding-horizontal">
      <button class="button button-assertive button-block">Unsubscribe</button>
    </div>
  </ion-content>
</ion-view>