<ion-view view-title="Athletes Coached">
  <ion-nav-buttons side="right">
  <span class="ln ln-user right-badge ln-fit" ng-click="openModal()">
    <span class="badge badge-assertive">0</span>
  </span>
  </ion-nav-buttons>
    <ion-content>
      <div class="picture-hold-coach bg-white">
        <div class="dp" style="background-image: url(http://2.bp.blogspot.com/-TgdKBlUGk90/T0PhPlFOf8I/AAAAAAAAAVc/jijEQ8u1uUg/s1600/387430_257363124319593_257347670987805_670782_1318978483_n.jpg);"></div>
        <h3>Sachin Tendulkar</h3>
      </div>
      <ion-list>
        <ion-item class="item-text-wrap">
          <h3>Testing</h3>
          <p>Running Testing</p>
        </ion-item>
        <ion-item class="item-text-wrap">
          <h3>Traning Plans</h3>
          <p>
            <span class="tag-box">10<sup>th</sup> Dec 15 Plan</span>
            <span class="tag-box">Sunil Traning</span>
          </p>
        </ion-item>
        <ion-item class="item-text-wrap">
          <h3>Competition</h3>
          <p><span class="tag-box">Health Run</span>
            <span class="tag-box">Sample  Events</span>
          </p>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-view>
