<ion-view view-title="Blog">
  <ion-nav-buttons side="right">
    <button class="button button-clear" type="button" ng-click="submitData(formData);">Save</button>
  </ion-nav-buttons>
  <ion-content>
    <div class="blog-detail">
      <div class="list">
        <div class="item item-body brd-zero">
          <img class="full-image" ng-src="{{formData.image|uploadpath}}">
          <div class="padding">
            <div class="more-info adjustment">
              <span class="small-text pull-right">{{formData.publishingDate|date:'dd MMMM, yyyy'}}</span>
              <span class="th up"><i class="icon ion-thumbsup"></i> {{formData.likes}}</span>
              <span class="th dn"><i class="icon ion-thumbsdown"></i> {{formData.dislikes}}</span>
            </div>
            <h4 class="card-title">{{formData.title}}</h4>
            <div class="blog-html" ng-bind-html="formData.content"> </div>
          </div>
        </div>
        <div class="item item-divider item-icon-right" ng-click="addAthlete();">Add Athletes <i class="icon ion-ios-plus-empty"></i></div>
        <ion-item class="item-name item-avatar item-icon-right" ng-repeat="d in formData.newathlete" ng-if="formData.athlete">
          <img ng-src="{{(d.profilePic|uploadpath) || 'img/img-placeholder.png'}}">
          <h2>{{d.name}} {{d.surname}}</h2>
          <i class="icon ion-ios-trash-outline" ng-click="removeAthlete($index);"></i>
        </ion-item>
      </div>
    </div>
  </ion-content>
</ion-view>
