<ion-view view-title="Blog">
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ln-share ln-fit"></a>
  </ion-nav-buttons>
  <!-- <ion-content class="padding"> -->
  <ion-content>
    <div class="blog-detail">
      <div class="list">
        <div class="item item-body brd-zero">
          <img class="full-image" src="img/blog1.jpg">
          <div class="item-content">
            <h4 class="card-title">
              Nine Inch Nails Live
            </h4>
            <div class="pull-right date">
              July 22, 2016
            </div>
            <p>
              This is a "Facebook" styled Card. The header is created from a Thumbnail List item, the content is from a card-body consisting
              of an image and paragraph text. The footer consists of tabs, icons aligned left, within the card-footer.
            </p>
            <p>
              This is a "Facebook" styled Card. The header is created from a Thumbnail List item, the content is from a card-body consisting
              of an image and paragraph text. The footer consists of tabs, icons aligned left, within the card-footer.
            </p>
            <p>
              This is a "Facebook" styled Card. The header is created from a Thumbnail List item, the content is from a card-body consisting
              of an image and paragraph text. The footer consists of tabs, icons aligned left, within the card-footer.
            </p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>