<ion-view view-title="Blog">
  <ion-content>
    <div class="blog-detail">
      <div class="list card" ui-sref="app.blogdetail">
        <div class="item item-body">
          <img class="full-image" src="img/blog1.jpg">
          <div class="item-content">
            <h4 class="card-title">
              Nine Inch Nails Live
            </h4>
          </div>

        </div>
      </div>
      <div class="list card" ui-sref="app.blogdetail">
        <div class="item item-body">
          <img class="full-image" src="img/blog1.jpg">
          <div class="item-content">
            <h4 class="card-title">
              Nine Inch Nails Live
            </h4>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>