<ion-view view-title="Blog">
  <ion-content>
    <div class="blog-detail">
      <div class="list">
        <div class="item item-body brd-zero">
          <img class="full-image" src="http://d2gd8qsu8uml9u.cloudfront.net/uploads/AP_4657469935821-680x384.jpg">
          <div class="padding">
            <div class="more-info adjustment">
              <div class="rate-card pull-right">4.5</div>
              <span class="small-text">4th October 2015</span>
            </div>
            <h4 class="card-title">The Strongest Woman I’ve Ever Known</h4>
            <div class="blog-html">
              <p>Knowledge is power, and we were arming ourselves for the toughest fight of our lives.</p>
              <p>See, I come from a long line of warriors, as my mom used to say. When cancer struck my aunties we didn’t have
                time to grieve because we were too busy fighting the disease.</p>
              <p>Each time the disease struck, we thought, This is gonna be the one that we beat, this is gonna be the one that
                we beat, this is gonna be the one that we beat. We knew the protocols — doctors, chemo, estrogen shot, whatever
                was needed to be healthy and fighting. We were always optimistic.</p>
              <p>Each battle lasted a little longer than the one before, but we never won.</p>
              <p>In 2004 it was my mom’s turn to fight. Only she didn’t tell me.</p>
              <p>My mom was diagnosed at the beginning of the year, but she didn’t tell me about it until the summer, after
                my junior season at Memphis.</p>
              <p>I was pissed. I felt like she was going through this battle herself and had robbed us of the opportunity to
                be her support system. When I asked her why she waited to tell us she simply said, “Hey, you were busy. I
                was busy.”</p>
              <p>That was how strong my mom was. She didn’t want to burden anybody else. But it wasn’t until years later that
                I understood how truly strong she was.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>