<ion-view view-title="Chats">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ln-user ln-fit" ng-click="newChat()"></button>
    <button class="button button-icon icon ln-users ln-fit" ng-click="newGroupChat()"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-avatar" ui-sref="app.chatdetail">
        <img src="http://coachmentor.wohlig.co.in/frontend/img/coach/matt-chant.jpg">
        <h2>Matt Chant</h2>
        <p>Session complete, have submitted my times in session feedback</p>
        <span class="badge badge-assertive chat-badge">1</span>
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <!--<ion-item class="item-avatar" ui-sref="app.chat-group">
        <img src="img/img-placeholder.png">
        <h2>Sachin, Steve, Mathew, Matt, Ron, Wisley</h2>
        <p>Hi!</p>
        <span class="badge badge-assertive chat-badge">1</span>
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>-->
    </ion-list>
  </ion-content>
</ion-view>
