<ion-view view-title="Chats">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ln-user ln-fit">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item class="item-avatar" ui-sref="app.chatdetail">
                <img src="http://2.bp.blogspot.com/-TgdKBlUGk90/T0PhPlFOf8I/AAAAAAAAAVc/jijEQ8u1uUg/s1600/387430_257363124319593_257347670987805_670782_1318978483_n.jpg">
                <h2>Sachin Tendulkar</h2>
                <p>Running Test</p>
                <span class="badge badge-assertive">0</span>
                <ion-option-button class="button-assertive">Delete</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>