<ion-view view-title="Chats">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ln-user ln-fit">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item class="item-avatar" ui-sref="app.chatdetail">
                <img src="img/img-placeholder.png">
                <h2>Sachin Tendulkar</h2>
                <p>Hi!</p>
                <span class="badge badge-assertive">0</span>
                <ion-option-button class="button-assertive">Delete</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>