<ion-view view-title="Competition">
  <ion-content>
    <div class="list card">

      <div class="item item-divider">
        <h2 class="title">300 Meters Running</h2>
        <p> International</p>
</div>
<div class="item item-text-wrap">
  <p><i class="ln ln-map-marker"></i> Mumbai </p>
  <p><i class="ln ln-clock"></i> 2.00 pm to 4.00 pm </p>
</div>
<div class="item item-divider">
  <div class="row">
    <a class="col text-center"><i class="ln ln-user"></i></a>
    <a class="col text-center"><i class="ln ln-edit"></i></a>
    <a class="col text-center"><i class="ln ln-pencil"></i></a>
    <a class="col text-center"><i class="ln ln-trash"></i></a>
  </div>
</div>
  <!-- <div class="item">
        <h2 class="title">Sachin Tendulkar</h2>
        <p> International</p>
      </div>
      <div class="item item-body">
        <p><i class="ln ln-map-marker"></i> Mumbai </p>
        <p><i class="ln ln-clock"></i> 2.00 pm to 4.00 pm </p>
      </div>
      <div class="item">
        <div class="row">
          <a class="col text-center"><i class="ln ln-user"></i></a>
          <a class="col text-center"><i class="ln ln-edit"></i></a>
          <a class="col text-center"><i class="ln ln-pencil"></i></a>
          <a class="col text-center"><i class="ln ln-trash"></i></a>
        </div>
      </div> -->
    </div>
  </ion-content>
</ion-view>
