<ion-view view-title="Competition(s)">
  <ion-nav-buttons side="right">
    <a class="button button-clear icon ion-ios-plus-empty" ui-sref="app.competition-create"></a>
  </ion-nav-buttons>
  <ion-content start-y="53">
    <ion-list>
      <ion-item class="item-input-inset">
        <label class="item-input-wrapper"><input type="text" placeholder="Competition Name"></label>
        <button class="button button-small icon ln-magnifier"></button>
      </ion-item>
      <ion-item class="item-icon-left icon-c-l" ui-sref="app.competition-detail" ng-repeat="d in data">
        <i class="icon icon-circled ln-trophy" ng-class="{'icon-positive': d.keyCompetition == true}"></i>
        <h2 data-ng-bind="d.name"></h2>
        <p>{{d.startDate}} - {{d.endDate}}</p>
        <ion-option-button class="button-assertive"><i class="icon ln-trash"></i></ion-option-button>
      </ion-item>
    </ion-list>
    </div>
  </ion-content>
</ion-view>
