<ion-view>
  <ion-content class="bg-login">
    <div class="logo mt30">
      <img src="img/logo.png" alt="Coach Mentor">
    </div>
    <div class="login-form padding-horizontal">
      <form action="">
        <div class="list">
          <label class="item item-input">
            <i class="ln-envelope"></i>
            <input type="email" placeholder="Email Address">
          </label>
          <label class="item item-input">
            <i class="ln-lock"></i>
            <input type="password" placeholder="Password">
          </label>
          <div class="text-right pr15">
            <a href="" class="color-white">Forgot Password ?</a>
          </div>
          <div class="text-left pl15">
            <a href="" class="color-white">Register Now</a>
          </div>
        </div>
        <div class="text-center mt30 padding-horizontal">
          <button class="button button-positive button-block">
            Submit
          </button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
