<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="gradient-bg">
    <ion-content>
      <ion-list>
        <ion-item class="item-icon-left" menu-close ui-sref="">
          <i class="icon ion-profile"></i> Profile
        </ion-item>
        <ion-item menu-close ui-sref="">
          Athletes Coached
        </ion-item>
        <ion-item menu-close ui-sref="">
          Competition
        </ion-item>
        <ion-item menu-close ui-sref="">
          Blog
        </ion-item>
        <ion-item menu-close ui-sref="">
          Daily Training
        </ion-item>
        <ion-item menu-close ui-sref="">
          Chat
        </ion-item>
        <ion-item menu-close ui-sref="">
          Graph
        </ion-item>
        <ion-item menu-close ui-sref="">
          Reports
        </ion-item>
        <ion-item menu-close ui-sref="">
          Coaches
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>