<ion-view view-title="Edit Profile">
  <ion-nav-buttons side="right">
    <button class="button button-clear" type="button" ng-click="submit(formData);">Save</button>
  </ion-nav-buttons>
  <ion-content>
    <form name="formName" ng-submit="submit(formData);">
      <div class="pic-edit">
        <div class="ch-relative">
          <div class="dp" style="background-image: url(http://2.bp.blogspot.com/-TgdKBlUGk90/T0PhPlFOf8I/AAAAAAAAAVc/jijEQ8u1uUg/s1600/387430_257363124319593_257347670987805_670782_1318978483_n.jpg);"></div>
          <a class="button button-icon icon ln-pencil ln-fit"></a>
        </div>
      </div>
      <div class="pro-edit text-rite">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Forename</span>
            <input type="text" placeholder="Name" name="name" ng-model="formData.name" maxlength="35">
          </label>
          <label class="item item-input">
            <span class="input-label">Surname</span>
            <input type="text" placeholder="Surname" name="surname" ng-model="formData.surname" maxlength="35">
          </label>
          <label class="item item-input">
            <span class="input-label">Years Coaching</span>
            <input type="number" placeholder="Years Coaching" name="yearsCoaching" ng-model="formData.yearsCoaching" min="1" max="99">
          </label>
          <label class="item item-input">
            <span class="input-label">Email Address</span>
            <input type="email" placeholder="Email address" name="email" ng-model="formData.email">
          </label>
          <label class="item item-input" ng-click="changePassword()">
            <span class="input-label">Change Password</span>
            <input type="password" placeholder="Enter password" name="password" ng-model="dummyPassword" readonly>
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Country
            </div>
            <select name="country" ng-model="formData.country">
              <option value="{{c.name}}" ng-repeat="c in countries">{{c.name}}</option>
            </select>
          </label>
          <label class="item item-input item-select">
            <span class="input-label">Gender</span>
            <select name="gender" ng-model="formData.gender">
              <option value="{{g.value}}" ng-repeat="g in gender">{{g.name}}</option>
            </select>
          </label>
          <label class="item item-input">
            <span class="input-label">Phone Number</span>
            <input type="tel" placeholder="Phone Number" name="contact" ng-model="formData.contact">
          </label>
          <label class="item item-input">
            <span class="input-label">Date of Birth</span>
            <input type="date" name="dob" ng-model="formData.dob">
          </label>
          <label class="item item-input" ng-click="changeLimit()">
            <span class="input-label">Coaching Limit</span>
            <input type="text" name="coachingLimit" ng-model="formData.coachingLimit" readonly>
          </label>
          <label class="item item-input" ng-click="changePrice()">
            <span class="input-label">Coach Asking Price (monthly)</span>
            <input type="text" name="askingPrice" ng-model="formData.askingPrice" readonly>
          </label>
          <label class="item item-input item-block">
            <span class="input-label">Free Text CV </span>
            <textarea rows="2" name="textCV" ng-model="formData.textCV"></textarea>
          </label>
          <ion-item class="item-text-wrap multi-select">
            <h3>Coaching Focus</h3>
            <p>
              <div class="tag-box-label" ng-repeat="c in coachingFocus">
                <input type="checkbox" id="{{c}}" checklist-model="formData.coachingFocus" checklist-value="c" name="coachingFocus">
                <label for="{{c}}">{{c}}</label>
              </div>
            </p>
          </ion-item>
          <ion-item class="item-text-wrap">
            <h3>Specialisations</h3>
            <p>
              <div class="tag-box-label" ng-repeat="s in specialisations">
                <input type="checkbox" id="{{s}}" checklist-model="formData.specialisations" checklist-value="s" name="specialisations">
                <label for="{{s}}">{{s}}</label>
              </div>
              <div class="tag-box-label">
                <input type="checkbox" id="Others" ng-model="formData.specialisations.otherVal">
                <label for="Others">Others</label>
              </div>
            </p>
          </ion-item>
          <ion-item ng-if="formData.specialisations.otherVal" class="item-input">
            <input type="text" placeholder="Please mention others" name="others" ng-model="formData.specialisations.others">
          </ion-item>
          <label class="item item-input item-block">
            <span class="input-label">Experience</span>
            <textarea rows="2" name="experience" ng-model="formData.experience"></textarea>
          </label>
          <label class="item item-input item-block">
            <span class="input-label">Expertise</span>
            <textarea rows="2" name="expertise" ng-model="formData.expertise"></textarea>
          </label>
          <label class="item item-input item-block">
            <span class="input-label">Coaching Achievements</span>
            <textarea rows="2" name="coachingAchievements" ng-model="formData.coachingAchievements"></textarea>
          </label>
        </div>
      </div>
      <div class="text-center m20 padding-horizontal">
        <button class="button button-positive button-block" type="submit">Save</button>
      </div>
    </form>

  </ion-content>
</ion-view>