<ion-view view-title="Profile">
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ln-pencil ln-fit" ui-sref="app.edit-profile"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="picture-hold">
      <div class="dp" style="background-image: url(http://2.bp.blogspot.com/-TgdKBlUGk90/T0PhPlFOf8I/AAAAAAAAAVc/jijEQ8u1uUg/s1600/387430_257363124319593_257347670987805_670782_1318978483_n.jpg);"></div>
      <h3>Sachin Tendulkar</h3>
      <p>LEVEL 3</p>
      <div class="main-info">
        <div class="row">
          <div class="col">
            <h3>2 years</h3>
            <p>Years of Coaching</p>
          </div>
          <div class="col">
            <h3>India</h3>
            <p>Country</p>
          </div>
        </div>
      </div>
    </div>
    <ion-list>
      <ion-item class="item-text-wrap">
        <h3>Contact</h3>
        <p>+9190000000001</p>
      </ion-item>
      <ion-item class="item-text-wrap">
        <h3>Email</h3>
        <p>sachin@gmail.com</p>
      </ion-item>
      <ion-item class="item-text-wrap">
        <h3>Date of Birth</h3>
        <p>April 24, 1973</p>
      </ion-item>
      <ion-item class="item-text-wrap">
        <h3>Gender</h3>
        <p>Male</p>
      </ion-item>
      <ion-item class="item-text-wrap">
        <h3>About</h3>
        <p class="read-more text-justified">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod, turpis at auctor interdum, enim neque placerat
          diam, ac faucibus sem elit in sapien. Vivamus sodales et libero ac consectetur. Curabitur hendrerit lacus nisi,
          eget euismod felis gravida vitae. Nullam faucibus maximus eros, non facilisis magna tincidunt quis. Ut suscipit
          fringilla quam eu scelerisque. Proin orci lacus, condimentum eget urna at, aliquam pellentesque mauris. Aenean
          rutrum diam tortor, sed finibus nibh condimentum ac. Sed et blandit arcu.</p>
        <p class="text-right bold">Read More</p>
      </ion-item>
      <ion-item class="item-text-wrap">
        <h3>Coaching Focus</h3>
        <p>
          <span class="tag-box">Sprinting</span>
          <span class="tag-box">Throws</span>
          <span class="tag-box">Hill/Fell Running</span>
          <span class="tag-box">Cross Country</span>
        </p>
      </ion-item>
      <ion-item class="item-text-wrap">
        <h3>Specialisations</h3>
        <p><span class="tag-box">Mentored practice</span>
          <span class="tag-box">Strength and conditioning</span>
          <span class="tag-box">Eating disorders</span>
          <span class="tag-box">Children in Athletics</span>
          <span class="tag-box">Fitness in Running and Walking</span>
        </p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
