<ion-view view-title="Register Now">
  <ion-content>
    <form name="formName" ng-submit="submit(formData);">
      <div class="pro-edit">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Name" name="name" ng-model="formData.name" maxlength="35">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Surname" name="surname" ng-model="formData.surname" maxlength="35">
          </label>
          <label class="item item-input">
            <input type="number" placeholder="Years Coaching" name="yearsCoaching" ng-model="formData.yearsCoaching" min="1" max="99">
          </label>
          <label class="item item-input">
            <input type="email" placeholder="Email" name="email" ng-model="formData.email">
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Country
            </div>
            <select name="country" ng-model="formData.country">
              <option selected>UK</option>
              <option>USA</option>
              <option>Canada</option>
              <option>Australia</option>
              <option>New Zealand</option>
            </select>
          </label>
          <label class="item item-input item-select">
            <span class="input-label">Gender</span>
            <select name="gender" ng-model="formData.gender">
              <option selected>Male</option>
              <option>Female</option>
            </select>
          </label>
          <label class="item item-input">
            <input type="tel" placeholder="Contact Number" name="contact" ng-model="formData.contact">
          </label>
          <label class="item item-input">
            <input type="date" placeholder="Date of Birth" name="dob" ng-model="formData.dob">
          </label>
          <label class="item item-input">
            <textarea placeholder="About" name="about" ng-model="formData.about"></textarea>
          </label>
          <ion-item class="item-text-wrap multi-select">
            <h3>Coaching Focus</h3>
            <p>
              <div class="tag-box-label" ng-repeat="c in coachingFocus">
                <input type="checkbox" id="{{c}}" checklist-model="formData.coachingFocus" checklist-value="c" name="coachingFocus">
                <label for="{{c}}">{{c}}</label>
              </div>
            </p>
          </ion-item>
          <ion-item class="item-text-wrap">
            <h3>Specialisations</h3>
            <p>
              <div class="tag-box-label" ng-repeat="s in specialisations">
                <input type="checkbox" id="{{s}}" checklist-model="formData.specialisations" checklist-value="s" name="specialisations">
                <label for="{{s}}">{{s}}</label>
              </div>
              <div class="tag-box-label">
                <input type="checkbox" id="Others" ng-model="formData.specialisations.otherVal">
                <label for="Others">Others</label>
              </div>
            </p>
          </ion-item>
          <ion-item ng-if="formData.specialisations.otherVal" class="item-input">
            <input type="text" placeholder="Please mention others" name="others" ng-model="formData.specialisations.others">
          </ion-item>
        </div>
      </div>
      <div class="text-center m20 padding-horizontal">
        <button class="button button-positive button-block" type="submit">Save</button>
      </div>
    </form>

  </ion-content>
</ion-view>