<ion-view view-title="Registration">
  <ion-content>
    <div class="pro-edit ">
      <span class="text-center sp-reg padding-horizontal">All the fields below are mandatory.</span>
      <form action="" name="formName" ng-submit="submitForm(formData);">
        <div class="list mt20">
          <div class="ps-relative">
            <label class="item item-input">
              <input type="text" placeholder="Name" name="name">

            </label>
            <div class="error-msg-form" ng-show="myForm.name.$error.required && myForm.name.$dirty">Name is required</div>
          </div>
          <div class="ps-relative">
            <label class="item item-input">
              <input type="text" placeholder="Surname" name="surname">
            </label>
            <div class="error-msg-form" ng-show="myForm.surname.$error.required && myForm.surname.$dirty">surname is required</div>
          </div>
          <div class="ps-relative">
            <label class="item item-input">
              <input type="email" placeholder="Email">
            </label>
            <div class="error-msg-form" ng-show="myForm.surname.$error.required && myForm.surname.$dirty">surname is required</div>
          </div>
          <div class="ps-relative">
            <label class="item item-input item-stacked-label">
              <input type="tele" placeholder="Contact Number" name="number">
            </label>

          </div>
          <div class="ps-relative">
            <label class="item item-input">
              <input type="password" placeholder="Password" name="password">
            </label>
            <div class="error-msg-form" ng-show="myForm.password.$error.required && myForm.password.$dirty">password is required</div>
          </div>
          <div class="ps-relative">
            <label class="item item-input ">
              <input type="password" placeholder="Password" name="password">
            </label>
            <div class="error-msg-form" ng-show="myForm.password.$error.required && myForm.password.$dirty">password mismatch</div>
          </div>

          <label class="item item-input item-select">
            <div class="input-label">
              Gender
            </div>
            <select>
              <option selected>Male</option>
              <option>Female</option>
            </select>
          </label>
          <div class="ps-relative">
            <label class="item item-input">
              <input type="date" name="date">
            </label>
            <div class="error-msg-form" ng-show="myForm.date.$error.required && myForm.date.$dirty">date is required</div>
          </div>
          <div class="ps-relative">
            <label class="item item-input ">
              <textarea name="text" rows="4" cols="40" placeholder="Street Address" name="address"></textarea>
            </label>
            <div class="error-msg-form" ng-show="myForm.address.$error.required && myForm.address.$dirty">address is required</div>
          </div>
          <div class="ps-relative">
            <label class="item item-input">
              <input type="text" placeholder="P.O. Box" name="pobox">
            </label>
            <div class="error-msg-form" ng-show="myForm.pobox.$error.required && myForm.pobox.$dirty">pobox is required</div>
          </div>
          <div class="ps-relative">
            <label class="item item-input">
              <input type="text" placeholder="City/Town" name="city">
            </label>
            <div class="error-msg-form" ng-show="myForm.city.$error.required && myForm.city.$dirty">city is required</div>
          </div>
          <div class="ps-relative">
            <label class="item item-input">
              <input type="text" placeholder="State/Province" name="state">
            </label>
            <div class="error-msg-form" ng-show="myForm.state.$error.required && myForm.state.$dirty">state is required</div>
          </div>
          <div class="ps-relative">
            <label class="item item-input">
              <input type="text" placeholder="Postal Code" name="postal">
            </label>
            <div class="error-msg-form" ng-show="myForm.postal.$error.required && myForm.postal.$dirty">postal code is required</div>
          </div>

          <label class="item item-input item-select">
            <div class="input-label">
              Country
            </div>
            <select>
              <option selected>India</option>
              <option>Australia</option>
              <option>Japan</option>
            </select>
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Coaching Focus
            </div>
            <select>
              <option selected>India</option>
              <option>Australia</option>
              <option>Japan</option>
            </select>
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Credential/Qualification
            </div>
            <select>
              <option selected>India</option>
              <option>Australia</option>
              <option>Japan</option>
            </select>
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Specialization
            </div>
            <select>
              <option selected>India</option>
              <option>Australia</option>
              <option>Japan</option>
            </select>
          </label>
          <div class="ps-relative">
            <label class="item item-input">
              <input type="text" placeholder="Years of Coaching" name="year ">
            </label>
            <div class="error-msg-form" ng-show="myForm.postal.$error.required && myForm.postal.$dirty">postal code is required</div>
          </div>
          <div class="ps-relative">
            <label class="item item-input">
              <textarea name="name" rows="4" cols="40" placeholder="About"></textarea>
            </label>
            <div class="error-msg-form" ng-show="myForm.name.$error.required && myForm.name.$dirty">about is required</div>
          </div>

          <div class="padding-horizontal ">
            <div class="input-label">
              Upload CV
            </div>
            <div class="upload-img mt20">
              <img src="img/logo.png" alt="">
            </div>
            <button class="button button-positive button-small">
              CHOOSE FILE
            </button>

          </div>
        </div>
        <div class="text-center m20 padding-horizontal">
          <button class="button button-positive button-block">
            Submit
          </button>
        </div>
      </form>

    </div>
  </ion-content>
</ion-view>
