<ion-view view-title="Registration">
  <ion-content>
    <div class="pro-edit ">
      <span class="text-center sp-reg padding-horizontal">All the fields below are mandatory.</span>
      <form action="">
        <div class="list mt20">
          <label class="item item-input ">
            <input type="text" placeholder="Name">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Surname">
          </label>
          <label class="item item-input">
            <input type="email" placeholder="Email">
          </label>
          <label class="item item-input item-stacked-label">
            <input type="tele" placeholder="Contact Number">
          </label>
          <label class="item item-input">
            <input type="password" placeholder="Password">
          </label>
          <label class="item item-input ">
            <input type="password" placeholder="Password">
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Gender
            </div>
            <select>
              <option selected>Male</option>
              <option>Female</option>
            </select>
          </label>
          <label class="item item-input">
            <input type="date">
          </label>
          <label class="item item-input ">
          <textarea name="text" rows="4" cols="40" placeholder="Street Address"></textarea>
          </label>
          <label class="item item-input">

            <input type="text" placeholder="P.O. Box">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="City/Town">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="State/Province">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Postal Code">
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Country
            </div>
            <select>
              <option selected>India</option>
              <option>Australia</option>
              <option>Japan</option>
            </select>
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Coaching Focus
            </div>
            <select>
              <option selected>India</option>
              <option>Australia</option>
              <option>Japan</option>
            </select>
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Credential/Qualification
            </div>
            <select>
              <option selected>India</option>
              <option>Australia</option>
              <option>Japan</option>
            </select>
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Specialization
            </div>
            <select>
              <option selected>India</option>
              <option>Australia</option>
              <option>Japan</option>
            </select>
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Years of Coaching">
          </label>
          <label class="item item-input">
          <textarea name="name" rows="4" cols="40" placeholder="About"></textarea>
          </label>
        </div>
        <div class="text-center m20 padding-horizontal">
          <button class="button button-positive button-block">
      Submit
    </button>
        </div>
      </form>

    </div>
  </ion-content>
</ion-view>
