<ion-view>
  <ion-nav-title>
    {{viewTitle}}
  </ion-nav-title>
  <div class="tabs tabs-light tabs-color-positive">
    <a class="tab-item" ng-click="changeView('agendaDay')" ng-class="{'active': activeView == 'agendaDay'}">Day</a>
    <a class="tab-item" ng-click="changeView('agendaWeek')" ng-class="{'active': activeView == 'agendaWeek'}">Week</a>
    <a class="tab-item" ng-click="changeView('month')" ng-class="{'active': activeView == 'month'}">Month</a>
  </div>
  <ion-nav-buttons side="right">
    <button class="button button-clear button-icon ln-calendar ln-fit" ng-click="navigate('today')"></button>
    <button class="button button-clear button-icon thick-btn ion-ios-arrow-left" ng-click="navigate('prev')"></button>
    <button class="button button-clear button-icon thick-btn ion-ios-arrow-right" ng-click="navigate('next')"></button>
  </ion-nav-buttons>
  <ion-content class="has-tabs">
    <div ui-calendar="uiConfig.calendar" calendar="trainingDiary" ng-model="eventSources">
  </ion-content>
</ion-view>
