<ion-modal-view>
  <ion-header-bar class="bar-positive bar bar-header">
    <div class="buttons">
      <button class="button button-clear button-icon ln-checkmark ln-fit" ng-click="matchAthlete();closeModal();"></button>
    </div>
    <h1 class="title">Select Athletes</h1>
    <div class="buttons">
      <button class="button button-clear button-icon ln-cross ln-fit" ng-click="closeModal();"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <form ng-click="getAthlete(searchData.keyword)" class="item item-input-inset">
        <label class="item-input-wrapper"><input type="search" placeholder="Athlete Name" name="athlete" ng-change="getAthlete(searchData.keyword);" ng-model="searchData.keyword"></label>
        <button class="button button-small icon ln-magnifier" type="submit"></button>
      </form>
      <li class="item item-checkbox" ng-repeat="t in athletes">
        <img ng-src="{{(t.profilePic|uploadpath) || 'img/img-placeholder.png'}}">{{t.name}} {{t.surname}}
        <label class="checkbox"><input type="checkbox" checklist-model="selectAthlete.array" checklist-value="t"> </label>
      </li>
    </ion-list>
  </ion-content>
</ion-modal-view>
