<ion-modal-view>
  <ion-header-bar class="bar-positive bar bar-header">
    <h1 class="title">Update Coaching Limit</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Cancel</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="formName" ng-submit="submitLimit(limitData);">
      <ion-list class="pro-edit text-rite">
        <label class="item item-input" ng-class="{'err': formName.coachingLimit.$touched && formName.coachingLimit.$invalid }">
            <span class="input-label">Coaching Limit</span>
            <input type="number" name="coachingLimit" ng-model="limitData.coachingLimit" ng-change="rangeLimit(limitData.coachingLimit);" min="1" max="200" required readonly>
            </label>
      </ion-list>
      <div class="item range range-positive">
        <i class="icon ion-ios-minus-empty" ng-click="rangeLimit(limitData.coachingLimit-1)"></i>
        <input type="range" name="rangeLimit" min="1" max="200" ng-change="rangeLimit(limitData.coachingLimit);" ng-model="limitData.coachingLimit">
        <i class="icon ion-ios-plus-empty" ng-click="rangeLimit(limitData.coachingLimit+1)"></i>
      </div>
      <div class="padding-horizontal">
        <button class="button button-positive button-block" type="submit" ng-click="closeModal()">Save</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
