<ion-modal-view>
  <ion-header-bar class="bar-positive bar bar-header">
    <h1 class="title">Athletes Request</h1>
    <span class="right-badge-modal ln ln-cross ln-fit" ng-click="closeModal()">
    </span>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item-thumbnail-left">
        <img src="img/img-placeholder.png">
        <h2>Adam Scott</h2>
        <p>
          Location: UK <br> Age: 22 years <br> Sports: Running, Cycling <br>
        </p>
        <ion-option-button class="button-assertive">Delete</ion-option-button>
        <ion-option-button class="button-balanced">Accept</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>