<ion-modal-view>
    <ion-header-bar class="bar-positive bar bar-header">
        <h1 class="title">Change Password</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeModal()">Cancel</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form name="formName" ng-submit="submit(passwordData);">
            <ion-list class="pro-edit text-rite">
                <label class="item item-input" ng-class="{'err': formName.oldPassword.$touched && formName.oldPassword.$invalid }">
            <span class="input-label">Old Password</span>
            <input type="password" name="oldPassword" ng-model="passwordData.oldPassword" required>
            </label>
                <label class="item item-input" ng-class="{'err': formName.newPassword.$touched && formName.newPassword.$invalid }">
            <span class="input-label">New Password</span>
            <input type="password" name="newPassword" ng-model="passwordData.newPassword" required>
            </label>
                <label class="item item-input" ng-class="{'err': formName.newPassword1.$touched && formName.newPassword1.$invalid }">
            <span class="input-label">Confirm New Password</span>
            <input type="password" name="newPassword1" ng-model="passwordData.newPassword1" required>
            </label>
            </ion-list>
            <div class="padding-horizontal">
                <button class="button button-positive button-block" type="submit" ng-click="closeModal()">Submit</button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>