<ion-modal-view>
  <ion-header-bar class="bar-positive bar bar-header">
    <h1 class="title">Change Password</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal();">Cancel</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="formName" ng-submit="submitPassword(passwordData);">
      <ion-list class="pro-edit text-rite">
        <label class="item item-input" ng-class="{'err': formName.oldPassword.$touched && formName.oldPassword.$invalid }">
            <span class="input-label">Old Password</span>
            <input type="password" no-paste name="oldPassword" ng-model="passwordData.oldPassword" required>
        </label>
        <ion-item class="item-divider item-text-wrap small-text">
          Password must contain: <br>
          <span> <i class="icon ion-alert-circled assertive" ng-class="{'ion-checkmark balanced': valid1}"></i> atleast 8 &amp; atmost 15 characters</span>
          <br>
          <span><i class="icon ion-alert-circled assertive" ng-class="{'ion-checkmark balanced': valid2}"></i> alphanumeric characters</span>
        </ion-item>
        <label class="item item-input" ng-class="{'err': passwordInvalid }">
            <span class="input-label">New Password</span>
            <input type="password" no-paste name="newPassword" ng-change="passwordValidator(passwordData.newPassword);" ng-model="passwordData.newPassword" required>
        </label>
        <label class="item item-input" ng-if="passwordData.newPassword" ng-class="{'err': passwordData.newPassword != passwordData.newPassword1, 'err succ': passwordData.newPassword == passwordData.newPassword1 }">
            <span class="input-label">Confirm New Password</span>
            <input type="password" no-paste name="newPassword1" ng-model="passwordData.newPassword1" required>
        </label>
        <input type="hidden" ng-model="passwordData.accessToken">
      </ion-list>
      <div class="padding-horizontal">
        <button class="button button-positive button-block" type="submit" ng-disabled="formName.$invalid || passwordInvalid || passwordData.newPassword != passwordData.newPassword1">Save</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
